.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#container{
  background-color: rgb(206,206,206);
  display: flex;
  flex-direction: column-reverse;
  width: 30%;
  margin: auto;
  padding: 20px;
}
#addtodo{
  display: flex;
  gap: 5px;
}
#addtodo>input{
  padding: 20px;
  border-radius: 10px;
  border: none;
}
#addtodo>button{
  background-color: white;
  border-radius: 10px;
  border: none;
  padding: 20px;
}
#todos{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  margin-right: 10px;
}
#notcom{
  border-radius: 50%;
  border: 10px solid rgb(127,123,255);
  height: 40px;
  width: 40px;
  background-color: rgb(206,206,206);
}
#com{
  border-radius: 50%;
  border: 10px solid rgb(135,255,197);
  background-color: rgb(206,206,206);
  height: 40px;
  width: 40px;
}